<%- include("partials/base-header.ejs") %>


<% if (locals.booksAndNotes) { %>
    <h1>Book Notes</h1>
    
    <div class="home-header">
        <% if (booksAndNotes.length > 1) { %>
            <h2>Books I’ve read(<%=booksAndNotes.length%>)</h2>
            <p>Tiny summary but <span>detailed notes for each.</span></p>
        <% } else { %>
            <h2>Book I've read</h2>
            <p>Tiny summary but <span>detailed notes.</span></p>
        <% }; %>
        <p>Use the ISBN number to find it from your local library or anywhere else. 
        <span>This page will constantly update as I read more</span>, so bookmark it if you want to check back in a few months.</p>
        <p>Sorted with <span>my top recommendations</span>.</p>
        <div class="sortBy">
            <p>Sort by:  </p>
                <form action="/sortNotes" method="POST">
                    <input type="hidden" name="orderBy" value="title">
                    <button type="submit">
                        title
                    </button>
                </form>
                <form action="/sortNotes" method="POST">
                    <input type="hidden" name="orderBy" value="recency">
                    <button type="submit">
                        newest
                    </button>
                </form> or
                <form action="/sortNotes" method="POST">
                    <input type="hidden" name="orderBy" value="rating">
                    <button type="submit">
                        best
                    </button>
                </form>.
        </div>

        
    </div>

    <% booksAndNotes.forEach((bookAndNotes) => { %>
        <div class="book-preview">
            <div class="book-preview-actions">
                <a href="/read-notes/<%= bookAndNotes.book_id %>"><img src="/images/eye.svg" alt="read notes icon"></a>
                <a href="/edit-notes/<%= bookAndNotes.book_id %>"><img src="/images/pencil.svg" alt="edit notes icon"></a>
                <a href="/delete-notes/<%= bookAndNotes.book_id %>"><img src="/images/delete_icon.png" alt="delete notes img icon"></a>
            </div>
            <div class="book-preview-summary">
                <a href="/read-notes/<%= bookAndNotes.book_id %>">
                    <img src="<%=bookAndNotes.cover%>" alt="cover img">
                </a>
                <a href="/read-notes/<%= bookAndNotes.book_id %>">
                    <h2><%= bookAndNotes.title %> - By <%= bookAndNotes.author %></h2>
                </a>
                <% if (bookAndNotes.year_of_reading) { %>
                    <p class="slightly-transparent">YEAR OF READING: <%= bookAndNotes.year_of_reading %>. HOW STRONGLY I RECOMMEND IT: <%= bookAndNotes.rating %>/10</p>
                <% } else { %>
                    <p class="slightly-transparent">HOW STRONGLY I RECOMMEND IT: <%= bookAndNotes.rating %>/10</p>
                <% }; %>
                <p class="slightly-transparent">Last updated at: <%= bookAndNotes.last_updated_at.toLocaleString() %>.</p>
                <p class="notes-summary"><%= bookAndNotes.notes.slice(0, 350) %>...</p>
            </div>
            <div class="book-preview-links">
                <% if (bookAndNotes.amazon_link) { %>
                    <a href="/read-notes/<%= bookAndNotes.book_id %>">Read my notes</a>, or go to the <a href="<%= bookAndNotes.amazon_link %>" target="_blank">Amazon page</a> for details and reviews.
                <% } else { %>
                    <a href="/read-notes/<%= bookAndNotes.book_id %>">Read my notes.</a>
                <% }; %>
            </div>
            
        </div>
    <% }); %>

<% } else { %>
    <a href="/create-new-notes">Create new notes!</a>
<% }; %>




<%- include("partials/base-footer.ejs") %>